<ion-view title="">
  <ion-content class="has-header">
    <body ng-controller="BrowseCtrl">
    <ion-header-bar class="bar-stable">
      <button class="button button-icon ion-pinpoint" ng-click="centerOnMe()"></button>
      <h1 class="title">Stores Around You</h1>
    </ion-header-bar>
    <ion-content scroll="false">
      <div class="mapWrap"  data-tap-disabled="true">
        <map center="32.7794, -79.9341" zoom="15">
          <!-- ngRepeat: pos in positions -->
          <marker ng-repeat=" pos in positions" position="{{pos.lat}},{{pos.lng}}"></marker>
        </map>
      </div>
    </ion-content>
  </body>
  </ion-content>
</ion-view>
