<ion-view title="">
  <ion-content class="has-header" scroll="true">
    <div class="list createowner-form">
      <h3>Store Information</h3>
      <label class="item item-input">
        <input type="text" placeholder="Store Name">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Street Address">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="City">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="State">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Zip">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Email">
      </label>
      <label class="item item-input">
        <input type="password" placeholder="Password">
      </label>
      <label class="item item-input">
        <input type="password" placeholder="Confirm Password">
      </label>
    </div>
    <div class="buttons-set">
      <button class="button button-block button-positive createowner-button">
        Create Store Now!
      </button>
    </div>
  </ion-content>
</ion-view>
