<ion-pane>
  <ion-header-bar class="bar bar-header">
    <button class="button button-icon icon ion-navicon"></button>
      <div class="h1 title"><img src="img/red-dots-logo-clear.png" alt="Red Dots Test App" /></div>
  </ion-header-bar>
  <ion-content class="background" scroll="false">
    <div class="list">
      <label class="item item-input">
        <span class="input-label">Email</span>
        <input type="text">
      </label>
      <label class="item item-input">
        <span class="input-label">Password</span>
        <input type="password">
      </label>
    </div>
    <div class="buttons-set">
      <button class="button button-block button-positive login-button">
        Login
      </button>
      <button class="button button-block button-outline button-light customer-signup-button">
        No account? Signup now!
      </button>
      <button class="button button-block button-outline button-stable customer-signup-button">
        Store owner? Create account!
      </button>
    </div>
  </ion-content>
</ion-pane>
