
<ion-view title="">
  <div class="login">
  <ion-pane>
  <ion-content class="background" scroll="true">
      <div class="list login-form">
        <label class="item item-input">
          <input type="text" placeholder="Email">
        </label>
        <label class="item item-input">
          <input type="password" placeholder="Password">
        </label>
      </div>

      <div class="buttons-set">

            <button class="button button-block button-calm button-positive">
              Login
            </button>
            <a href="#app/createcustomer"><button class="button button-block button-outline button-light customer-signup-button">
              No account? Signup now!
            </button></a>
            <a href="#/app/createowner"><button class="button button-block button-outline button-stable customer-signup-button">
              Store owner? Create account!
            </button></a>

      </div>
  </ion-content>
</ion-pane>

</div>
</ion-view>
