
<ion-view title="">
  <!-- <ion-header-bar class="bar bar-header">
      <div class="h1 title"><img src="img/red-dots-logo-clear.png" alt="Red Dots App" /></div>
  </ion-header-bar> -->
  <div class="login">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-pane>
  <ion-content class="background" scroll="false">
    <div class="list login-form">
      <label class="item item-input">
        <span class="input-label">Email</span>
        <input type="text">
      </label>
      <label class="item item-input">
        <span class="input-label">Password</span>
        <input type="password">
      </label>
    </div>
    <div class="buttons-set">
      <button class="button button-block button-positive login-button">
        Login
      </button>
      <button class="button button-block button-outline button-light customer-signup-button">
        No account? Signup now!
      </button>
      <button class="button button-block button-outline button-stable customer-signup-button">
        Store owner? Create account!
      </button>
    </div>
  </ion-content>
</ion-pane>

</div>
</ion-view>

<!-- <ion-view title= "Red Dots">
  <img src="img/red-dots-logo-clear.png" alt="Red Dots Test App" />
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <ion-list>
      <ion-item ng-repeat="login in login" href="#/app/login/{{login.id}}">
        {{login.title}}
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view> -->
