/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/

// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;

// Include all of Ionic
@import "www/lib/ionic/scss/ionic";
.background {
    background: url('../img/party-ladies.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0 auto;
    z-index: 2;
}

.button-clear {
  position: fixed;
}

.title img {
  width: 25%;
  margin: auto;
  margin-top: 21px;
}

.login-form .item.item-input {
  margin-bottom: 20px;
}

.item-input input, .item-input textarea {
  width: 180%;
}

.createstore-form {
  margin-top: 45px;
}

.createcustomer-form {
  margin-top: 50px;
}

h3 {
  text-align: center;
}

h4 {
  text-align: center;
  color: grey;
}

.button .button-block {
  width: 100%;
  margin: 20px auto;
}

.login-form {
  width: 85%;
  margin: auto;
  margin-top: 140px;
}

body {
  cursor: url('http://ionicframework.com/img/finger.png'), auto;
}

map {
  width: 100%;
  height: 100% !important;
}

.scroll, .mapWrap {
  height: 100%;
}

.button.button-light.button-outline {
  background-color: maroon;
}

.button.button-stable.button-outline {
  background-color: darkgrey;
  color: #ffffff;
}

a {
  text-decoration: none;
}

#add-item {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

.store-address {
  text-align: center;
  color: grey;
}

.storeview-head {
  width: 100%;
}

.ion-ios-cart {
  width: 50px;
}

.checkout-btn {
  width: 70%;
  margin: auto;
  h4 {
    color: #FFFFFF;
  }
}

.cart-trash {
  width: 50px;
}

.cart-body {
  margin-top: -15px;
}

.item {
  height: 50px;
}

.item-complex .item-content {
  padding: 4px 15px 4px 20px;
}

.product-list {
  padding: 4px 35px 4px 20px;
}

.all-totals {
  font-size: 1.25rem;
  width: 100%;
  margin: auto;
  height: 50px;
  background-color: grey;
  padding: 2px 30px 2px 25px;
}

.totals h4 {
  font-size: 1.25rem;
  color: #FFFFFF;
  width: 100%;
  text-align: left;
}

.tot-price {
  margin-right: -40px;
}

.checkbox {
  padding: 0;
}

.menu-item {
  padding: 10px 15px 4px 20px;
}

.cardContainer {
  margin-top: -18px;
}
