<!-- storeview.html is the same view for Customers, Stores, and Admin.
DIFFERENCE: Customers can only Read, while Stores and Admin can CRUD. -->

<ion-view title="">
  <ion-content class="has-header" scroll="true">
    <div class="list storeview">
      <h3>Store Information</h3>
      <ion-list>
        <ion-item ng-repeat="item in items">
          <h2>Items in Inventory</h2>
          <h4>{{category}}</h4>
          <h4>{{name}}</h4>
          <h4>{{brand}}</h4>
          <h4>{{pricing}}</h4>
          <p>{{desciption}}</p>
        </ion-item>
      </ion-list>
    </div>
  </ion-content>

</ion-view>
