<ion-view title="">
  <ion-content class="has-header" scroll="true">
    <div class="list createcustomer-form">
      <h3>Your Details</h3>
      <label class="item item-input">
        <input type="text" placeholder="First Name" ng-model="customer.firstname">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Last Name" ng-model="customer.lastname">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Email" ng-model="customer.email">
      </label>
      <label class="item item-input">
        <input type="password" placeholder="Password" ng-model="customer.password">
      </label>
      <label class="item item-input">
        <input type="password" placeholder="Confirm Password" ng-model="customer.confirmpswd">
      </label>
    </div>
    <div class="buttons-set">
      <button class="button button-block button-positive createcustomer-button" type="submit" name="Submit" ng-click="submitNewCustomer(customer)">
        Create Account!
      </button>
    </div>
  </ion-content>
</ion-view>
