<ion-view title="">

  <ion-content class="has-header" scroll="true">
    <div class="list createstore-form">
      <h3>Store Information</h3>
      <label class="item item-input">
        <input type="text" placeholder="Store Name" ng-model="store.name">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Street Address" ng-model="store.streetaddress">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="City" ng-model="store.city">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="State" ng-model="store.state">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Zip" ng-model="store.zip">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Email" ng-model="store.email">
      </label>
      <label class="item item-input">
        <input type="password" placeholder="Password" ng-model="store.password">
      </label>
      <label class="item item-input">
        <input type="password" placeholder="Confirm Password" ng-model="store.confirmpswd">
      </label>
    </div>
    <div class="buttons-set">
      <button class="button button-block button-positive createowner-button" type="submit" name="Submit" ng-click="submitNewStore(store)">
        Create Store Now!
      </button>
    </div>
  </ion-content>
</ion-view>
