<!-- storeview.html is the same view for Customers, Stores, and Admin.
DIFFERENCE: Customers and !AUTHENTICATED USERS can only Read, while Stores and Admin can CRUD. -->
<body ng-controller="StoresCtrl" >
<ion-view title="" >
  <ion-content class="has-header" scroll="true">
    <ion-header-bar class="bar-positive" ng-init="getOneStore()">
      <h1 class="title"><div ng-options="c in stores" class="store" data-id="{{c.id}}">
      <!-- <h1 class="title"><div class="store" data-id="{{store.id}}"> -->
        <!-- {{c.id}} -->
        {{store.name}}
        </div></h1>
        <!-- <div class="buttons" ng-submit="deleteStore(removeStore)">
          <button type="submit" ng-click="delete(removeStore)" class="button button-assertive">Delete Store</button>
        </div> -->
    </ion-header-bar>
  </ion-content>

  <ion-content class="list storeview">
      <div id="add-item">
        <h4>Add Items</h4>
          <label class="item item-input" ng-submit="addItem(newItem)">
            <input value="" type="text" placeholder="Add Item" ng-model="itemName">
            <input value="" type="number" placeholder="$" ng-model="itemPrice">
          </label>
            <br />
          <button type="submit" ng-click="addItem(itemName, itemPrice)" class="button button-block button-calm addItem-btn">Add to list</button>
      </div>

      <ion-list id="store-items">
        <h4>Store Items</h4>
        <ion-item ng-repeat="item in items"
                  item="item"
                  class="item-remove-animate">
          <div class="row">
            <div class="col col-75">{{ item.name }}</div>
            <div class="col"> ${{ item.price }}</div>
          </div>
          <ion-option-button class="button-calm" ng-click="edit(item)">
            Edit
          </ion-option-button>
          <ion-option-button type="submit" ng-click="removeItem($index)" class="button-assertive">
            Delete
          </ion-option-button>
        </ion-item>
      </ion-list>
  </ion-content>
</ion-view>
</body>
