<!-- storeview.html is the same view for Customers, Stores, and Admin.
DIFFERENCE: Customers and !AUTHENTICATED USERS can only Read, while Stores and Admin can CRUD. -->
<body ng-controller="StoresCtrl">
<ion-view title="">
  <ion-content class="has-header" scroll="true">
    <ion-header-bar class="bar-positive">
      <h1 class="title"><div ng-repeat="c in spots">
        {{c.name}}
        </div></h1>
    </ion-header-bar>
  </ion-content>

  <ion-content class="list storeview">
      <div id="add-item">
        <h4>Add Items</h4>
        <form ng-submit="addItem(newItem)">
          <label class="item item-input">
            <input value="" type="text" placeholder="Add Item" ng-model="itemName">
            <input value="" type="number" placeholder="$" ng-model="itemPrice">
          </label>
            <br />
          <button type="submit" ng-click="addItem(itemName, itemPrice)" class="button button-block button-calm addItem-btn">Add to list</button>
        </form>
      </div>

      <ion-list id="store-items">
        <h4>Store Items</h4>
        <ion-item ng-repeat="item in items"
                  item="item"
                  href="#/item/{{item.id}}" class="item-remove-animate">
          {{ item.name }} ${{ item.price }}
          <ion-option-button class="button-calm" ng-click="edit(item)">
            Edit
          </ion-option-button>
          <ion-option-button type="submit" ng-click="removeItem($index)" class="button-assertive">
            Delete
          </ion-option-button>
          <ion-reorder-button class="ion-navicon" on-reorder="moveItem(item, $fromIndex, $toIndex)"></ion-reorder-button>
        </ion-item>
      </ion-list>
  </ion-content>
</ion-view>
</body>
