
<body ng-controller="StoresCtrl">
<ion-view title="">
  <ion-content class="has-header" scroll="false" ng-controller="StoresCtrl">

    <div class="storeview-head">
      <ion-header-bar class="bar-positive" ng-init="getOneStore()">
        <h1 class="title"><div ng-repeat="store in stores" class="store" data-id="{{c.id}}">
          {{store.name}}
          </div></h1>
      </ion-header-bar>
    </div>

  </ion-content>

  <ion-content ng-controller="StoresCtrl">
  <div class="list storeview-body" ng-init="getOneStore()">
      <div id="add-item"></div>
      <div ng-repeat="store in stores" class="store store-address"data-id="{{c.id}}">{{store.address}}</div>
      <ion-list id="store-items">

        <h4>Your Shopping Cart</h4>

        <ion-item ng-repeat="product in products" item="item" class="item-remove-animate">
          <div class="row">
            <div class="col col-75">{{ product.productName }}</div>
            <div class="col">{{ product.productPrice | currency }}</div>
          </div>
          <ion-option-button type="submit" ng-click="removeProduct($index)" class="button-assertive">
            <i class="icon ion-ios-trash-outline cart-trash"></i>
          </ion-option-button>
        </ion-item>
        <div class="row">
          <div class="col col-75"><h4>Total</h4></div>
          <div class="col">{{ product.productPrice | currency }}</div>
          <ion-item>
           <div ng-init="getTotalPrice()" class="total-price">
               {{ totalPriceValue | currency }}
           </div>
         </ion-item>
        </div>
      </ion-list>

      <!-- <div class="row responsive-sm">
        <button class="button button-medium button-energized">Checkout</button> -->
      <div class="row responsive-sm checkout-btn">
        <button class="button button-medium button-energized" ng-click="goCheckOut()">Checkout</button>
      </div>

    </div>
  </ion-content>
</ion-view>
</body>






<!-- <ion-view view-title="{{::cart.messages.title}}">
  <ion-content>
    <h4 class="cart empty" ng-show="cart.products.length === 0">{{::cart.messages.empty_cart}}</h4>
    <ion-list>
      <ion-item class="item item-avatar item-remove-animate item-icon-left" ng-repeat="product in cart.products | orderBy: 'cart_product_id' track by product.cart_product_id" type="item-text-wrap">
        <img ng-src="{{product.image}}">
        <span class="cart-item-text">{{product.name}}</span>
        <span class="item-note">{{product.price | currency }}</span>
        <ion-option-button class="button-assertive" ng-click="cart.remove(product)">
          {{::cart.messages.remove_from_cart}}
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
  <ion-footer-bar ng-hide="cart.products.length === 0" align-title="center" class="bar-dark total">
    <div class="row">
      <div class="col">
        <h4 class="total">{{::cart.messages.total}}</h4>
      </div>
      <div class="col">
        <h4 class="total number">{{cart.total | currency}}</h4>
      </div>
      <div class="col">
        <div class="buttons" ng-click="doSomething()">
          <button class="buttons-stable button checkout">{{::cart.messages.checkout}}</button>
        </div>
      </div>
    </div>
  </ion-footer-bar>
</ion-view> -->
