

<body ng-controller="StoresCtrl">
<ion-view title="">
  <ion-content class="has-header" scroll="false" ng-controller="CartCtrl">
    <div class="storeview-head">
      <ion-header-bar class="bar-positive" ng-init="getOneStore()">
        <h1 class="title"><div ng-repeat="store in stores" class="store" data-id="{{c.id}}">
          {{store.name}}
          </div></h1>
      </ion-header-bar>
    </div>
  </ion-content>
  <ion-content ng-controller="CartCtrl">
    <div class="list storeview-body" ng-init="getOneStore()">
      <div id="add-item"></div>
      <div ng-repeat="store in stores" class="store store-address" data-id="{{c.id}}">
        {{store.address}}
      </div>
    <h4>Checkout</h4>
      <form action="#"
            name="cardForm"
            data-card
            data-width="500"
            data-card-container="#card-container"
            data-placeholders="cardPlaceholders"
            data-options="cardOptions"
            data-messages="cardMessages">

            <div>
              <input placeholder="Card number" type="text" name="CardNumber" card-number data-ng-model="card.number" />

              <input placeholder="Full name" type="text" name="CardName" card-name data-ng-model="card.name" />
            </div>
            <div>
              <input placeholder="MM / YYYY" type="text" name="CardExpiry" card-expiry data-ng-model="card.expiry" />

              <input placeholder="CVC" type="text" name="CardCvc" card-cvc data-ng-model="card.cvc" />

              <input type="button" value="Change card" data-ng-click="changeCard()" />
              <input type="button" value="Clear" data-ng-click="clear()" />
            </div>
          </form>
      <div class="row responsive-sm checkout-btn">
        <button class="button button-medium button-energized" ng-click="goCheckOut()">Place Order</button>
      </div>
    </div>
  </ion-content>
</ion-view>
