<!-- Sample Code -->
<ion-content>
  <div data-ng-app="app" data-ng-controller="CartCtrl">
      <form action="#"
        name="cardForm"
        data-card
        data-width="500"
        data-card-container="#card-container"
        data-placeholders="cardPlaceholders"
        data-options="cardOptions"
        data-messages="cardMessages">
        <div>
            <input placeholder="Card number" type="text" name="CardNumber" card-number data-ng-model="card.number"/>

            <input placeholder="Full name" type="text" name="CardName" card-name data-ng-model="card.name"/>
        </div>
        <div>
            <input placeholder="MM / YYYY" type="text" name="CardExpiry" card-expiry data-ng-model="card.expiry"/>

            <input placeholder="CVC" type="text" name="CardCvc" card-cvc data-ng-model="card.cvc"/>

            <input type="button" value="Change card" data-ng-click="changeCard()"/>
            <input type="button" value="Clear" data-ng-click="clear()"/>
        </div>

      </form>
  </div>
  <div id="card-container"></div>
</ion-content>




<!--
<body ng-controller="StoresCtrl">
<ion-view title="">
  <ion-content class="has-header" scroll="false" ng-controller="StoresCtrl">
    <div class="storeview-head">
      <ion-header-bar class="bar-positive" ng-init="getOneStore()">
        <h1 class="title"><div ng-repeat="store in stores" class="store" data-id="{{c.id}}">
          {{store.name}}
          </div></h1>
      </ion-header-bar>
    </div>

  </ion-content> -->

<!--
  <ion-content>
    <h4>Checkout</h4>

      <ion-list id="cart-items" ng-repeat="product in products">
        <ion-item  item="item" class="item-remove-animate">

          <div class="row">
            <div class="col">asdafsd{{ product.productName }}</div>
            <div class="col">{{ product.productQty }}</div>
            <div class="col">{{ product.productPrice | currency }}</div>
            <div class="col">{{ product.productTotal | currency }}</div>
          </div>
        </ion-item>
      </ion-list>
      <div class="row responsive-sm checkout-btn">
        <button class="button button-medium button-energized" ng-click="goCheckOut()">Place Order</button>
      </div>
  </ion-content>
</ion-view>
</body> -->




   <!-- <table class="table">
        <tr>
            <th>Description</th>
            <th>Qty</th>
            <th>Cost</th>
            <th>Total</th>
            <th></th>
        </tr>
        <tr ng-repeat="product in invoice.products">

          <input type="text" ng-model="product.description"class="input-small">

          <input type="number" ng-model="product.qty" ng-required class="input-mini">

          <input type="number" ng-model="product.cost" ng-required class="input-mini">

          {{product.qty * product.cost | currency}}


                [<a href ng-click="removeItem($index)">X</a>]

        </tr>
        <tr>
        <button class="button button-small button-assertive" ng-click="addItem()">
          <a href ng-click="addItem()" class="btn btn-small">add item</a>
        </button>
          <a href ng-click="addItem()" class="btn btn-small">add item</a>
            <td></td>
            <td>Total:</td>
            <td>{{total() | currency}}</td>
        </tr>
    </table> -->



<!-- Use this icon instead of Add Item ion-plus-circled -->
