<ion-view title="">
  <ion-content class="has-header">
    <body ng-controller="MapCtrl">
    <ion-header-bar class="bar-stable">
      <h1 class="title">Local Libations</h1>
    </ion-header-bar>
    <ion-content scroll="false">
      <div ng-repeat="spot in spots">
        {{spot.name}}
        </div>
        <mapbox map-id="jetbalagtas.og7ca26a" scale-to-fit width="100%" scale-to-fit height="100%">
          <marker ng-repeat="c in spots" lat="{{c.coords.latitude}}" lng="{{c.coords.longitude}}" size="medium" color="#3ca0d3" icon="bar">
         <h3>{{c.name}}</h3>
         
        </marker>
        </mapbox>
    </ion-content>
  </body>
  </ion-content>
</ion-view>
