<!-- <ion-view title="">
  <ion-content class="has-header">
    <body ng-controller="MapCtrl">
    <ion-header-bar class="bar-stable">
      <button class="button button-icon ion-pinpoint" ng-click="centerOnMe()"></button>
      <h1 class="title">Locations Near You</h1>
    </ion-header-bar>

    <ion-content scroll="false">
      <div class="mapWrap"  data-tap-disabled="true" >
        <map center="32.788990, -79.938120" zoom="15" >
          <marker ng-repeat=" pos in positions" animation="Animation.BOUNCE" position="{{pos.lat}},{{pos.lng}}"></marker>
        </map>
    </ion-content>
    <ion-content>

    </ion-content>
  </body>
  </ion-content>
</ion-view> -->


<!-- Example taken from ng-maps c/o Mike Harrington @ http://codepen.io/mhartington/pen/bwdoA -->
<ion-view title="">
 <ion-content class="has-header">

    <body ng-controller="MapCtrl">

    <h3>Closest Stores</h3>


        <input type="text" ng-model="search"/>


        <!-- map -->
        <app-map style="height:525px;margin:12px;box-shadow:0 3px 25px black;"
            center="loc" markers="stores">
        </app-map>

        <!-- current location -->
        <div class="text-info text-right">
            {{loc.lat | lat:0}}, {{loc.lon | lon:0}}
        </div>

        <!-- list of stores -->
        <div class="container-fluid">
            <div class="span3 btn"
                ng-repeat="a in stores"
                ng-click="gotoLocation(a.lat, a.lon)">
                <b>{{a.code}}</b>: {{a.name}}
            </div>
        </div>


      </ion-content>
    </ion-view> -->
