.background.scroll-content {
    background-image: url('img/getty_rm_photo_of_friends_drinking_wine_at_dinner.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    margin: auto;
    z-index: 2;
}

.title img {
  width: 35%;
  margin-top: 10px;
}

.item.item-input {
  margin-bottom: 20px;
}

.button.button-block {
  width: 75%;
  margin: 20px auto;
}

.list {
  margin-top: 200px;
}
