.background {
    background: url('../img/ladies_partytime.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0 auto;
    z-index: 2;
}

.button-clear {
  position: fixed;
}

.title img {
  width: 90%;
  margin: auto;
  margin-top: 8px;
}

.item.item-input {
  margin-bottom: 20px;
}

.button.button-block {
  width: 75%;
  margin: 20px auto;
}

.login-form {
  margin-top: 200px;
}
